@import '../../styles/base';

$base-padding: 320px;
$base-height: 100px;
$base-title-size: 36px;
$base-font-size: 32px;
$base-link-size: 22px;
$base-gap: 120px;

.navbar {
  background: $text-color;
  color: white;
  box-shadow: 0px 6px 10px 0px #0000001a;
  display: flex;
  justify-content: space-between;
  padding-inline: calculateRem($base-padding);
  margin-bottom: calculateRem(60px);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: calculateRem($base-height);
  font-weight: 500;
  font-size: calculateRem($base-link-size);
  align-items: center;
  z-index: 999;

  @include device(laptop) {
    padding-inline: calculateRem(calc($base-padding * (3 / 4)));
    height: calculateRem(calc($base-height * (3 / 4)));
    font-size: calculateRem(calc($base-link-size * (3 / 4)));
  }

  @include device(tablet) {
    padding-inline: calculateRem(calc($base-padding * (2 / 3)));
    height: calculateRem(calc($base-height * (2 / 3)));
    font-size: calculateRem(calc($base-link-size * (2 / 3)));
  }

  @include device(mobile) {
    padding-inline: 0;
    justify-content: space-around;
    font-size: calculateRem(calc($base-link-size * (2 / 3)));
  }
}

.logo {
  font-weight: 700;
  font-size: calculateRem($base-title-size);
  line-height: (42.66px);

  @include device(laptop) {
    font-size: calculateRem(calc($base-title-size * (3 / 4)));
  }

  @include device(tablet) {
    font-size: calculateRem(calc($base-title-size * (2 / 3)));
  }

  @include device(mobile) {
    font-size: calculateRem(calc($base-title-size * (1 / 2)));
  }
}

.linkList {
  list-style: none;
  display: flex;
  gap: calculateRem($base-gap);
  align-items: center;

  @include device(laptop) {
    gap: calculateRem(calc($base-gap * (3 / 4)));
  }

  @include device(tablet) {
    gap: calculateRem(calc($base-gap * (2 / 3)));
  }

  @include device(mobile) {
    gap: calculateRem(10px);
  }

  & li {
    cursor: pointer;
  }

  &__link a,
  &__newPost a {
    text-decoration: none;
    color: white;
    margin-inline: auto;
  }

  &__newPost {
    font-size: calculateRem($base-link-size);
    line-height: calculateRem(26.07px);
    font-weight: 700;
    background-color: $text-gradient;
    margin: auto 0;
    padding: calculateRem(13px) calculateRem(34px);
    border-radius: calculateRem(70px);
    display: flex;
    align-items: center;
    justify-content: center;

    @include device(laptop) {
      font-size: calculateRem(calc($base-link-size) * (3 / 4));
      padding: calculateRem(calc(13px * (3 / 4)))
        calculateRem(calc(34px * (3 / 4)));
    }

    @include device(tablet) {
      font-size: calculateRem(calc($base-link-size) * (2 / 3));
      padding: calculateRem(calc(13px * (2 / 3)))
        calculateRem(calc(34px * (2 / 3)));
    }

    @include device(mobile) {
      font-size: calculateRem(calc($base-link-size) * (1 / 2));
      padding: calculateRem(calc(13px * (1 / 3)))
        calculateRem(calc(34px * (1 / 3)));
    }
  }
}
