@import '../../styles/base';

.contactModal,
.contactModalPost {
  height: 100vh;
  width: 100vw;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactModal {
  background-color: rgba(0, 0, 0, 0.6);
}

.wrapper,
.wrapperPost {
  z-index: 4;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-y: auto;
  padding: calculateRem(90px) calculateRem(122px) calculateRem(112px);
}

.wrapper {
  width: calculateRem(810px);
  height: calculateRem(1100px);
}

.wrapperPost {
  width: calculateRem(1280px);
  height: calculateRem(1612px);
  box-shadow: 0px 6px 10px 0px #0000001a;
  margin-top: calculateRem(100px);

  & > img {
    width: calculateRem(400px);
    aspect-ratio: 1 / 1;
    margin-bottom: calculateRem(78px);
  }
}

.close {
  position: absolute;
  top: calculateRem(52px);
  right: calculateRem(51px);
}

.title {
  font-size: calculateRem(36px);
  line-height: calculateRem(42.66px);
  font-weight: 700;
  color: $text-gradient;
  margin-bottom: calculateRem(50px);
}

.form {
  display: flex;
  flex-direction: column;
  gap: calculateRem(60px);
  width: 100%;
}
