@import '../../styles/base';

.contactModal,
.contactModalPost {
  height: 100vh;
  width: 100vw;
  z-index: 10;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactModal {
  background-color: rgba(0, 0, 0, 0.6);
}

$base-wrapper-padding-top: 90px;
$base-wrapper-padding-inline: 122px;
$base-wrapper-padding-bottom: 112px;

.wrapper,
.wrapperPost {
  background-color: #fff;
  margin: calculateRem(150px) calculateRem(555px) calculateRem(100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-y: auto;
  padding: calculateRem($base-wrapper-padding-top)
    calculateRem($base-wrapper-padding-inline)
    calculateRem($base-wrapper-padding-bottom);

  @include device(laptop) {
    padding: calculateRem(calc($base-wrapper-padding-top * (3 / 4)))
      calculateRem(calc($base-wrapper-padding-inline * (3 / 4)))
      calculateRem(calc($base-wrapper-padding-bottom * (3 / 4)));
  }
  @include device(tablet) {
    padding: calculateRem(calc($base-wrapper-padding-top * (2 / 4)))
      calculateRem(calc($base-wrapper-padding-inline * (2 / 4)))
      calculateRem(calc($base-wrapper-padding-bottom * (2 / 4)));
  }
  @include device(mobile) {
    padding: calculateRem(calc($base-wrapper-padding-top * (1 / 4)))
      calculateRem(calc($base-wrapper-padding-inline * (1 / 4)))
      calculateRem(calc($base-wrapper-padding-bottom * (1 / 4)));
  }
}

$base-wrapper-width: 810px;
$base-wrapper-height: 1113px;

.wrapper {
  z-index: 8;
  width: calculateRem($base-wrapper-width);
  height: calculateRem($base-wrapper-height);

  @include device(laptop) {
    width: calculateRem(calc($base-wrapper-height * (3 / 4)));
    height: calculateRem(calc($base-wrapper-height * (3 / 4)));
  }

  @include device(tablet) {
    width: calculateRem(calc($base-wrapper-height * (2 / 4)));
    height: calculateRem(calc($base-wrapper-height * (2 / 4)));
  }

  @include device(mobile) {
    width: calculateRem(calc($base-wrapper-height * (1 / 4)));
    height: calculateRem(calc($base-wrapper-height * (1 / 4)));
  }
}

$base-wrapperPost-width: 1280px;
$base-wrapperPost-height: 1612px;
$base-profilePicture-width: 400px;
$base-profilePicture-marginBottom: 78px;
$base-wrapperPost-padding-inline: 357px;

.wrapperPost {
  z-index: 5;
  width: calculateRem($base-wrapperPost-width);
  height: calculateRem($base-wrapperPost-height);
  box-shadow: 0px 6px 10px 0px #0000001a;
  padding-inline: calculateRem($base-wrapperPost-padding-inline);

  @include device(laptop) {
    padding-inline: calculateRem(
      calc($base-wrapperPost-padding-inline * (3 / 4))
    );
    width: calculateRem(calc($base-wrapperPost-height * (3 / 4)));
    height: calculateRem(calc($base-wrapperPost-height * (3 / 4)));
  }

  @include device(tablet) {
    padding-inline: calculateRem(
      calc($base-wrapperPost-padding-inline * (2 / 4))
    );
    width: calculateRem(calc($base-wrapperPost-height * (2 / 4)));
    height: calculateRem(calc($base-wrapperPost-height * (2 / 4)));
  }

  @include device(mobile) {
    padding-inline: calculateRem(
      calc($base-wrapperPost-padding-inline * (1 / 5))
    );
    width: calculateRem(calc($base-wrapperPost-height * (1 / 5)));
    height: calculateRem(calc($base-wrapperPost-height * (1 / 5)));
  }

  & > img {
    aspect-ratio: 1 / 1;
    margin-bottom: calculateRem($base-profilePicture-marginBottom);
    margin-top: calculateRem(calc($base-profilePicture-width * 2));
    width: calculateRem($base-profilePicture-width);

    @include device(laptop) {
      width: calculateRem(calc($base-profilePicture-width * (3 / 4)));
    }
    @include device(tablet) {
      width: calculateRem(calc($base-profilePicture-width * (2 / 4)));
      margin-top: calculateRem(
        calc(($base-profilePicture-width * 2)) * (3 / 4)
      );
      margin-bottom: calculateRem(
        calc($base-profilePicture-marginBottom * (2 / 4))
      );
    }
    @include device(mobile) {
      width: calculateRem(calc($base-profilePicture-width * (2 / 4)));
      margin-top: calculateRem(
        calc(($base-profilePicture-width * 2)) * (3 / 5)
      );
      margin-bottom: calculateRem(
        calc($base-profilePicture-marginBottom * (3 / 5))
      );
    }
  }
}

$base-close-button: 50px;
$base-close-button-size: 28px;
.close {
  position: absolute;
  top: calculateRem($base-close-button);
  right: calculateRem($base-close-button);

  @include device(laptop) {
    top: calculateRem(calc($base-close-button * (3 / 4)));
    right: calculateRem(calc($base-close-button * (3 / 4)));
    width: calculateRem(calc($base-close-button-size * (3 / 4)));
  }
  @include device(tablet) {
    top: calculateRem(calc($base-close-button * (2 / 4)));
    right: calculateRem(calc($base-close-button * (2 / 4)));
    width: calculateRem(calc($base-close-button-size * (2 / 4)));
  }
  @include device(mobile) {
    top: calculateRem(calc($base-close-button * (1 / 4)));
    right: calculateRem(calc($base-close-button * (1 / 4)));
    width: calculateRem(calc($base-close-button-size * (2 / 4)));
  }
}

$base-title-font-size: 36px;
$base-title-margin-top: 191px;
$base-title-margin-botton: 0px;

.title,
.titlePost {
  font-size: calculateRem($base-title-font-size);
  line-height: calculateRem(42.66px);
  font-weight: 700;
  color: $text-gradient;
  flex-shrink: 0;
  padding-block: calculateRem($base-title-margin-top)
    calculateRem($base-title-margin-botton);

  @include device(laptop) {
    font-size: calculateRem(calc($base-title-font-size * (3 / 4)));
    margin-block: calculateRem(calc($base-title-margin-top * (3 / 4)))
      calculateRem(calc($base-title-margin-botton * (3 / 4)));
  }
  @include device(tablet) {
    font-size: calculateRem(calc($base-title-font-size * (3 / 4)));
    margin-block: calculateRem(calc($base-title-margin-top * (2 / 4)))
      calculateRem(calc($base-title-margin-botton * (2 / 4)));
  }
  @include device(mobile) {
    font-size: calculateRem(calc($base-title-font-size * (2 / 4)));
    margin-block: calculateRem(calc($base-title-margin-top * (1 / 10)))
      calculateRem(calc($base-title-margin-botton * (2 / 4)));
  }
}

.titlePost {
  margin-block: 0 0;
  padding-block: 0 0;
}

$base-form-gap: 60px;
.form {
  display: flex;
  flex-direction: column;
  gap: calculateRem($base-form-gap);
  width: 100%;

  @include device(laptop) {
    gap: calculateRem(calc($base-form-gap * (3 / 4)));
  }
  @include device(tablet) {
    gap: calculateRem(calc($base-form-gap * (2 / 4)));
  }
  @include device(mobile) {
    gap: calculateRem(calc($base-form-gap * (1 / 4)));
  }
}

.profilePicture {
}
