@use 'sass:math';

$breakpoints: (
  'mobile': 764px,
  'tablet': 1048px,
  'laptop': 1440px,
);

@function calculateRem($size) {
  @return math.div($size, 16px) * 1rem;
}

@mixin device($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

$text-color: #2D2D2D;
$text-gradient: #F1A10A
